@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-size: $base-font-size * 3;
  font-weight: 700;
}
h2 {
  font-size: $base-font-size * 2;
  font-weight: 300;
}
h3 {
  font-size: $base-font-size * 1.25;
  font-weight: 400;
  text-transform: uppercase;
}
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

@include media($phablet) {
  h1 {
    font-size: $base-font-size * 1.2;
    font-weight: 700;
    text-align: center;
  }
  h2 {
    font-size: $base-font-size * 1.1;
    font-weight: 300;
  }
  h3 {
    font-size: $base-font-size * 1.25;
    font-weight: 400;
    text-transform: uppercase;
  }
  h4,
  h5,
  h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
  }
}


p {
  margin: 0 0 $small-spacing;
  color: transparentize($base-font-color, 0.2);
}

a {
  color: $base-font-color;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $base-font-color;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
